MAX_BOT_TOKEN=put_token_here
DATA_SERVICE_URL=http://localhost:3060
DATA_SERVICE_PORT=3060
DATABASE_PATH=data/springcat.sqlite
ADMIN_MAX_IDS=123456789,987654321
LEGAL_DOC_VERSION=hackathon-2026-05-14
BOT_DISPLAY_NAME=Весенний_код_40
BOT_NICK=spring_cat40_bot
